<h1>Mini Prakuten</h1>
<%= form_tag(:controller => "item", :action => "search") do %>
  <%= text_field_tag :keyword, '', size: 30 %>
  <%= submit_tag 'Search' %>
<% end %>

<% if ! @products.nil? %>
<table>
<th>楽天市場</th><th>楽天オークション</th>
<% @products.each do |product| %>
 <tr><td><img href="<%= product.imageUrl%>"><p><%= product.name%></p><p><%= product.minPrice%></p></td><td><td></td></tr>
<% end %>
</table>
<% end %>

